@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <br />
</div>

<div class="container" style="background-color:#a5a6a8">
    <h2 class="text-center" style="">Cars to Buy</h2>
    <div class="row">
        <div class="col-md-4">
            <a href="pulpitrock.jpg" class="thumbnail">
                <img src="~/Images/Admin.png" alt="Pulpit Rock" style="width: 150px; height: 200px">
            </a>
        </div>
        <div class="col-md-4">
            <a href="moustiers-sainte-marie.jpg" class="thumbnail">
                <img src="~/Images/Admin.png" alt="Moustiers Sainte Marie" style="width: 150px; height: 200px">
            </a>
        </div>
        <div class="col-md-4">
            <a href="cinqueterre.jpg" class="thumbnail">
                <img src="~/Images/Admin.png" alt="Cinque Terre" style="width:150px;height:200px">
            </a>
        </div>
    </div>
</div>







