
@{
    ViewBag.Title = "Login";
}

<p class="h2 text-center">User Login</p>

<div>
    <div class="jumbotron">
        <div class="row">

            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <form action="Login" method="post">
                    <div>
                        <label>Email</label>
                    </div>
                    <div>
                        <input type="email" class="form-control" name="UserName" placeholder="Email" required />
                    </div>

                    <div>
                        <label>Password</label>
                    </div>
                    <div>
                        <input type="password" class="form-control" name="Password" placeholder="Password" required />
                    </div>

                    <div>
                        <a href="#" name="ForgotPassword">Forgot Password?</a>
                    </div>
                    <div>
                        <input type="submit" class="btn-success form-control" value="Login" />
                    </div>
                </form>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>


</div>


